// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Example code
.header {
  @include blockDevHighlight('header');

  display: flex;
  justify-content: space-between;
  padding-right: var(--gutter);
  padding-left: var(--gutter);

  .header__logo-wrapper {
    max-width: 50px;
  }
}
