//Fonts
$fonts-path: "/fonts";
$pictures-path: "/img";

$icomoon-font-path: "/fonts/icomoon/fonts";

// Colors
$state-colors: (
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #17a2b8,
  "success": #28a745
);

$colors: (
  "white": #fff,
  "black": #000,
  "contrast": #222,
  "contrast-2": #57575f,
  "contrast-3": #b2b2be,
  "base": #f0f0f0,
  "base-2": #f7f8fa,
  "base-3": #fff,
  "accent": #1d73be
);

$fonts: (
  "title": (
    "name": "Merriweather",
    "serif": serif
  ),
  "text": (
    "name": "Roboto",
    "serif": sans-serif
  )
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  fhd: 1900px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  fhd: 1440px
);
